

body{
    margin: 0;
    overflow: hidden;
    color: white;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./assets/background1.gif');
}

.image-slider{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 80%;
    width: 65%;
    background-color: rgba(6, 209, 255, 0.25);
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0px 0px 25px pink;
}

.image-slider h1{
    margin: 0;
    font-size: 1em;
}

.data-wrapper{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: min(80%, 600px);
}

.data-image{
    max-height: 50%;
    max-width: 80%;
    border-radius: 8px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.buttons > *{
    cursor: default;
    transition: all .5s ease;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

.buttons > *:hover{
    color: red;
    transform: scale(1.3);
}

@media only screen and (max-width: 500px) {
  .data-wrapper{
      font-size: 1em;
  }
  .image-slider h1{
    font-size: 1.1em;
}
.buttons > *{
    font-size: 1.3em;
}
}

@media only screen and (max-width: 375px) {
  .data-wrapper{
      font-size: .6em;
  }
  .image-slider h1{
    font-size: .8em;
}
.buttons > *{
    font-size: 1em;
}
}